<div class="p-4 bg-white rounded-lg shadow-md">
  <div class="flex items-start space-x-4">
    <!-- user_avatar_url -->
    <img class="avatar w-9 h-9 rounded-full object-cover" src="/images/no-avatar.png" data-src="<%= feed.user_avatar_url %>">

    <div class="flex-1 min-w-0">
      <div class="flex items-baseline gap-2">
        <!-- userName -->
        <span class="font-bold text-gray-900 truncate">
          <%= feed.user_name %>
        </span>
        <!-- timestamp -->
        <span class="text-sm text-gray-500 flex-shrink-0">
          <span class="relative-time text-sm text-gray-500 flex-shrink-0" data-date="<%= feed.created_at %>">
            · <%= feed.created_at %>
          </span>
        </span>
      </div>
      <!-- content -->
      <div data-id="<%= feed.id %>" class="feed-content cursor-pointer mt-1 py-2 text-gray-700 whitespace-pre-wrap"><%= feed.content %></div>
    </div>
  </div>

  <%- include('feedNav.ejs') %>
</div>