<div
    class="group relative bg-white rounded-none shadow-sm hover:shadow-lg transition-all duration-200 cursor-pointer border border-transparent hover:border-slate-100">
    <!-- Image -->
    <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden bg-white relative">
        <a href="/products/<%= product.id %>">
            <img src="<%= product.image %>" alt="<%= product.name %>"
                class="h-[200px] object-cover object-left group-hover:opacity-75 transition-opacity duration-300">
        </a>

        <% if (product.status==='new' ) { %>
        <div class="absolute bottom-0 left-0 bg-pink-500 text-white text-xs font-bold px-3 py-1">
            NEW
        </div>
        <% } else if (product.status==='coming_soon' ) { %>
        <div class="absolute bottom-0 left-0 bg-blue-500 text-white text-xs font-bold px-3 py-1">
            COMING SOON
        </div>
        <% } %>
    </div>

    <!-- Content -->
    <div class="mt-4 px-4 pb-4">
        <h3 class="py-2 text-sm text-gray-700 line-clamp-2 group-hover:text-sky-600 transition-colors">
            <a href="/products/<%= product.id %>"><%= product.name %></a>
        </h3>
        <p class="text-xs text-gray-500">
            <span class="px-2 py-1 bg-gray-100 rounded-full"><%= categories[product.category] %></span>
        </p>
        <p class="mt-1 text-lg font-bold text-gray-900">
            <%= product.price %>
            <span class="text-xs font-normal text-gray-500">(税込)</span>
        </p>
        <p class="mt-1 text-xs text-gray-500 line-clamp-1">
            <%= product.description %>
        </p>
    </div>
</div>